---
import MainLayout from "../layouts/MainLayout.astro";
import {app} from "../firebase/server";
import {getFirestore} from "firebase-admin/firestore";
import {getDes} from "../helpers/helpers";
import Timestamp from "firebase-admin";

interface Post {
	id: string;
	title: string;
	content: string;
	createAt: Timestamp;
}

const db = getFirestore(app);
const postsRef = db.collection("posts");
const postsSnapshot = await postsRef.get();
const posts = postsSnapshot.docs.map((doc) => ({
	id: doc.id,
	...doc.data(),
})) as Post[];
---

<MainLayout>
	<div class="container">
	</div>
	<div class="container">
		<div class="row blog-list">
			{
				posts.map((post) => {
					return (
						<div class="article-card">
							<a href={`/blog/${post.id}`} target="_blank"><h2>{post.title}</h2></a>
							<time>{post.createAt.toDate().toDateString()}</time>
							<p set:html={getDes(post.content, 200)}></p>
							<a href={`/blog/${post.id}`}>Read more</a>
						</div>
					)
				})
			}
		</div>
	</div>
</MainLayout>
